# Saved models
/saved*
*.pth
/dataset
.vscode/
.idea/
*.pyc
*.log
log_tensorboard
saved/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*
MgmtSci__Controlling_the_Matthew_Effect.pdf
paper_full.md
benchmark_results/